* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ebf0f7;
  font-family: "Roboto", sans-serif;
  color: #1e1e1e;
}

/* estilos del header */
.navbar {
  font-size: 1.2rem;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar .container-fluid {
  padding: 0px;
  background-color: rgba(230, 230, 230, 0.9176470588);
}
.navbar .container-fluid .collapse.navbar-collapse {
  justify-content: end;
  padding-right: 10px;
}

/* estilos para todos los links */
a {
  text-decoration: none;
}

.seccionTituloh1 {
  width: 100%;
  height: 250px;
  background: linear-gradient(rgba(41, 41, 42, 0.7411764706), rgba(40, 40, 41, 0.4470588235)), url(../assets/img/tarjetas2.jpg);
  background-size: 100%;
  background-attachment: fixed;
}
.seccionTituloh1 .tituloH1 {
  color: #ffffff;
  padding-top: 100px;
  padding-left: 50px;
}
.seccionTituloh1 .parrafoSeccionTitulo {
  color: #d0c8c8;
  font-size: 1.2rem;
  margin-top: 70px;
  margin-right: 20px;
  text-align: end;
}
.seccionTituloh1 .parrafoSeccionTituloCorto {
  color: #d0c8c8;
  font-size: 1.2rem;
  margin-top: 22px;
  margin-right: 20px;
  text-align: end;
}

.titulosH2 {
  margin-top: 70px;
  color: #1e1e1e;
  text-align: center;
}
.titulosH2 .lineaTitulos {
  color: #154B89;
  width: 120px;
  border: 2px solid;
  border-radius: 12px;
  margin: 10px auto 50px auto;
  text-align: center;
}

.tituloH3 {
  color: #1e1e1e;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

.negrita {
  font-weight: bold;
  color: #154B89;
}

.bold {
  font-weight: bold;
}

/* estilos footer */
.footer {
  background-color: rgba(230, 230, 230, 0.9176470588);
  padding-bottom: 30px;
}
.footer .infoFooter .row {
  padding-top: 30px;
}
.footer .infoFooter .tituloFooterIndex {
  font-size: 1.2rem;
  color: #495057;
}
.footer .infoFooter .tituloFooterIndexDistinto {
  font-size: 1.2rem;
  color: #495057;
  margin-top: 30px;
}
.footer .infoFooter .nav-link {
  width: 20%;
  height: 25px;
  color: #495057;
  padding: 0px;
}
.footer .infoFooter .nav-link:hover {
  color: #79828c;
}
.footer .infoFooter .divFooter .imgFooter {
  width: 25px;
  margin-right: 5px;
}
.footer .infoFooter .divFooter .parrafoFooter {
  color: #495057;
}
.footer .infoFooter .divRedes .imgRedesIg {
  width: 27px;
  margin-right: 4px;
}
.footer .infoFooter .divRedes .imgRedesArgen {
  width: 34px;
  margin-right: 4px;
}
.footer .infoFooter .divRedes .imgRedesTiktok {
  width: 27px;
  border-radius: 4px;
}

/* estilos del main */
.mainIndex {
  background-color: #ebf0f7;
}
.mainIndex .seccionTitulo {
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(41, 41, 42, 0.7411764706), rgba(41, 41, 42, 0.7411764706)), url(../assets/img/bg-titulo.jpg);
}
.mainIndex .seccionTitulo .tituloH1Index {
  color: #ffffff;
  padding-top: 220px;
  padding-left: 50px;
}
.mainIndex .seccionTitulo .btn-primary {
  width: 120px;
  background-color: rgba(212, 12, 12, 0);
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  margin-left: 50px;
}
.mainIndex .seccionTitulo .btn-primary:hover {
  color: #d0c8c8;
  background-color: rgba(212, 12, 12, 0);
  border-color: #ffffff;
}
.mainIndex .seccionTitulo .parrafoSeccionTitulo {
  color: #d0c8c8;
  font-size: 1.2rem;
  margin-top: 100px;
  margin-right: 20px;
  text-align: end;
}
.mainIndex .seccionLlamadoALaAccion {
  padding-left: 40px;
}
.mainIndex .seccionLlamadoALaAccion .card {
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
}
.mainIndex .seccionLlamadoALaAccion .imgCard {
  border-radius: 10px;
}
.mainIndex .seccionLlamadoALaAccion .card-title {
  text-align: center;
  color: #1e1e1e;
}
.mainIndex .container .tituloh3Index {
  color: #1e1e1e;
  padding-bottom: 10px;
}
.mainIndex .container .quienesSomos {
  padding-bottom: 40px;
}
.mainIndex .container .nuestroServicio {
  padding-bottom: 40px;
}

.imgInmoviliaria {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  margin: 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.seccionNosotros .divNosotros {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background-image: linear-gradient(to bottom, rgba(97, 100, 111, 0.3803921569), rgba(97, 100, 111, 0.062745098));
  margin-bottom: 30px;
}

.container-fluid .parrafoNosotros {
  text-align: left;
  padding-left: 35px;
}
.container-fluid .iframeNosotros {
  padding-left: 35px;
  margin-bottom: 50px;
}

.seccionDeptos2 {
  background-image: linear-gradient(to bottom, rgba(97, 100, 111, 0.3803921569), rgba(97, 100, 111, 0.062745098));
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 150px;
}
.seccionDeptos2 .tituloH3Comprar {
  color: #1e1e1e;
  text-align: center;
}
.seccionDeptos2 .tituloH4Comprar {
  text-align: center;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.seccionDeptos2 .carrusel2 {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 500px;
}
.seccionDeptos2 .carrusel2 .imgCarrusel2 {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.seccionDeptos2 .carrusel2 .imgCarrusel3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .seccionDeptos2 .carrusel2 {
    width: 100%;
    height: 300px;
  }
}
.seccionDeptos2 .divVectores {
  padding-left: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.seccionDeptos2 .divVectores .imgVectores {
  padding-left: 40px;
}
.seccionDeptos2 .divVectores .pDormitorio {
  margin-left: 10px;
}
.seccionDeptos2 .divVectores .pAnios {
  margin-left: 25px;
}
.seccionDeptos2 .divVectores .pBanio {
  margin-left: 30px;
}
.seccionDeptos2 .divVectores .pAmbiente {
  margin-left: 10px;
}
.seccionDeptos2 .divVectores .pLugar {
  margin-left: 30px;
}
.seccionDeptos2 .divVectores .pCochera {
  margin-left: 20px;
}
.seccionDeptos2 .divVectores .pTerreno {
  margin-left: 27px;
}
.seccionDeptos2 .divVectores .pMetros {
  margin-left: 20px;
}
.seccionDeptos2 .divVectores .imgCasa {
  margin-left: 35px;
}
.seccionDeptos2 .divVectores .pEste {
  margin-left: 40px;
}
.seccionDeptos2 .divVectores .igTerreno {
  margin-left: 27px;
}
.seccionDeptos2 .divVectores .pCochera {
  margin-left: 25px;
}
.seccionDeptos2 .divVectores .pEstacionar {
  margin-left: 40px;
}
.seccionDeptos2 .divVectores .pCoche {
  margin-left: 16px;
}
.seccionDeptos2 .divVectores .pEspacioCoche {
  margin-left: 35px;
}
.seccionDeptos2 .divVectores .pOrientacion {
  margin-left: 20px;
}
.seccionDeptos2 .divVectores .pOficina {
  margin-left: 27px;
}
.seccionDeptos2 .divVectores .pBanioIndependiente {
  margin-right: 27px;
}
.seccionDeptos2 .divVectores .pPh {
  margin-left: 45px;
}
.seccionDeptos2 .divVectores .pLocal {
  margin-left: 35px;
}
.seccionDeptos2 .divVectores .pViaPublica {
  margin-left: 16px;
}
.seccionDeptos2 .divVectores .pPlanta {
  margin-left: 27px;
}
.seccionDeptos2 .divVectores .pEdificio {
  margin-left: 27px;
}
.seccionDeptos2 .divDescripcion {
  margin-top: 20px;
}
.seccionDeptos2 .mapa {
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.imgError {
  width: 400px;
  height: 400px;
  margin: 50px;
}

/*# sourceMappingURL=estilos.css.map */
