* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ebf0f7;
  font-family: "Roboto", sans-serif;
  color: #1e1e1e;
}

/* estilos del header */
.navbar {
  font-size: 1.2rem;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar .container-fluid {
  padding: 0px;
  background-color: rgba(230, 230, 230, 0.9176470588);
}
.navbar .container-fluid .collapse.navbar-collapse {
  justify-content: end;
  padding-right: 10px;
}

/* estilos para todos los links */
a {
  text-decoration: none;
}

.seccionTituloh1 {
  width: 100%;
  height: 250px;
  background: linear-gradient(rgba(41, 41, 42, 0.7411764706), rgba(40, 40, 41, 0.4470588235)), url(../assets/img/tarjetas1.jpg);
  background-size: 100%;
  background-attachment: fixed;
}
.seccionTituloh1 .tituloH1 {
  color: #ffffff;
  padding-top: 100px;
  padding-left: 50px;
}

/* estilos footer */
.footer {
  background-color: rgba(230, 230, 230, 0.9176470588);
  padding-bottom: 30px;
}
.footer .infoFooter .row {
  padding-top: 30px;
}
.footer .infoFooter .tituloFooterIndex {
  font-size: 1.2rem;
  color: #495057;
}
.footer .infoFooter .tituloFooterIndexDistinto {
  font-size: 1.2rem;
  color: #495057;
  margin-top: 30px;
}
.footer .infoFooter .nav-link {
  width: 20%;
  height: 25px;
  color: #495057;
  padding: 0px;
}
.footer .infoFooter .nav-link:hover {
  color: #79828c;
}
.footer .infoFooter .divFooter .imgFooter {
  width: 25px;
  margin-right: 5px;
}
.footer .infoFooter .divFooter .parrafoFooter {
  color: #495057;
}
.footer .infoFooter .divRedes .imgRedesIg {
  width: 27px;
  margin-right: 4px;
}
.footer .infoFooter .divRedes .imgRedesArgen {
  width: 34px;
  margin-right: 4px;
}
.footer .infoFooter .divRedes .imgRedesTiktok {
  width: 27px;
  border-radius: 4px;
}

/* estilos del main */
.mainIndex {
  background-color: #ebf0f7;
}
.mainIndex .seccionTitulo {
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(41, 41, 42, 0.7411764706), rgba(41, 41, 42, 0.7411764706)), url(../assets/img/bg-titulo.jpg);
}
.mainIndex .seccionTitulo .tituloH1Index {
  color: #ffffff;
  padding-top: 220px;
  padding-left: 50px;
}
.mainIndex .seccionTitulo .btn-primary {
  width: 120px;
  background-color: rgba(212, 12, 12, 0);
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  margin-left: 50px;
}
.mainIndex .seccionTitulo .btn-primary:hover {
  color: #d0c8c8;
  background-color: rgba(212, 12, 12, 0);
  border-color: #ffffff;
}
.mainIndex .seccionTitulo .parrafoSeccionTitulo {
  color: #d0c8c8;
  font-size: 1.2rem;
  margin-top: 100px;
  margin-right: 20px;
  text-align: end;
}
.mainIndex .titulosH2 {
  margin-top: 70px;
  color: #1e1e1e;
  text-align: center;
}
.mainIndex .titulosH2 .lineaTitulos {
  color: #154B89;
  width: 120px;
  border: 2px solid;
  border-radius: 12px;
  margin: 10px auto 50px auto;
  text-align: center;
}
.mainIndex .seccionLlamadoALaAccion {
  padding-left: 40px;
}
.mainIndex .seccionLlamadoALaAccion .card {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}
.mainIndex .seccionLlamadoALaAccion .card-title {
  text-align: center;
  color: #1e1e1e;
}
.mainIndex .container .tituloh3Index {
  color: #1e1e1e;
  padding-bottom: 10px;
}
.mainIndex .container .negrita {
  font-weight: bold;
  color: #154B89;
}
.mainIndex .container .quienesSomos {
  padding-bottom: 40px;
}
.mainIndex .container .nuestroServicio {
  padding-bottom: 40px;
}

/*# sourceMappingURL=estilos.css.map */
