/* estilos del main */
.mainIndex{
    background-color: $color-fondo-main;
    .seccionTitulo{
        width: $t-100por;
        height: $t-500px;
        background: linear-gradient(#29292abd, #29292abd),url(../assets/img/bg-titulo.jpg);
        .tituloH1Index{
            color: $color-blanco;
            padding-top: $t-220px;
            padding-left: $t-50px;
        }
        .btn-primary {
            width: $t-120px;
            background-color: rgba(212, 12, 12, 0);
            color: $color-blanco;
            border: $t-1px solid $color-blanco;
            border-radius: $t-10px;
            font-size: $t-16px;
            text-align: center;
            padding: $t-10px;
            margin-left: $t-50px;
            &:hover {
                color: $color-gris-clarito;
                background-color: rgba(212, 12, 12, 0);
                border-color: $color-blanco;
            }
        }
        .parrafoSeccionTitulo{
            color: $color-gris-clarito;
            font-size: $t-un-dos-rem;
            margin-top: $t-100px;
            margin-right: $t-20px;
            text-align: end;
        }
    }
    
    .seccionLlamadoALaAccion{
        padding-left: $t-40px;
        .card{
            border-radius: $t-10px;
            box-shadow: $t-4px $t-4px $t-5px rgba(0, 0, 0, 0.6)
           
        }
        .imgCard{
            border-radius: $t-10px;
        }
        .card-title{
            text-align: center;
            color: $color-fuente-comun;
        }
    }
    .container{
        .tituloh3Index{
            color: $color-fuente-comun;
            padding-bottom: $t-10px;
        }
        .quienesSomos{
            padding-bottom: $t-40px;
        }
        .nuestroServicio{
            padding-bottom: $t-40px;
        }
    }
}