// estilos del carrousel

.seccionDeptos2{
    
    background-image: linear-gradient(to bottom, $color-gris-difuminado-vara-propiedades, $color-gris-difuminadoclarito-vara-propiedades);
    box-shadow: $t-4px $t-4px $t-8px rgba(0, 0, 0, 0.6);
    border-radius: $t-10px;

    padding-top: $t-40px;
    padding-bottom: $t-30px;
    margin-left: $t-50px;
    margin-right: $t-50px;
    margin-bottom: $t-50px;

    .tituloH3Comprar{
        color: $color-fuente-comun;
        text-align: center;
    }
    .tituloH4Comprar{
            text-align: center;
            margin-bottom: $t-30px;
            padding-left: 20px;
            padding-right: 20px;
    }
    .carrusel2{
            padding-left: 50px;
            padding-right: 50px;
            width: 100%;
            height: 500px;
            .imgCarrusel2{
            width: 100%;
            height: 100%;
            object-fit:fill;
            
        }
        .imgCarrusel3{
            width: 100%;
            height: 100%;
            object-fit: cover;
            }
        @media screen and (max-width: 768px){
            width: 100%;
            height: 300px;
        }
    }
    .divVectores{
        padding-left: 100px;
        margin-top:$t-50px;
        margin-bottom: $t-30px;
        .imgVectores{
            padding-left: $t-40px;
            
        }
        .pDormitorio{
            margin-left: $t-10px;
        }
        .pAnios{
            margin-left: $t-25px;
        }
        .pBanio{
            margin-left: $t-30px;
        }
        .pAmbiente{
            margin-left: $t-10px;
        }
        .pLugar{
            margin-left: $t-30px;
        }
        .pCochera{
            margin-left: $t-20px;
        }
        .pTerreno{
            margin-left: $t-27px;
        }
        .pMetros{
            margin-left: $t-20px;
        }
        .imgCasa{
            margin-left: $t-35px;
        }
        .pEste{
            margin-left: $t-40px;
        }
        .igTerreno{
            margin-left: $t-27px;
        }
        .pCochera{
            margin-left: $t-25px;
        }
        .pEstacionar{
            margin-left: $t-40px;
        }
        .pCoche{
            margin-left: $t-16px;
        }
        .pEspacioCoche{
            margin-left: $t-35px;
        }
        .pOrientacion{
            margin-left: $t-20px;
        }
    }
    .divDescripcion{
        margin-top: $t-20px;
    }
    .mapa{
        padding-bottom: $t-30px;
        padding-left: $t-30px;
        padding-right: $t-30px;
    }
    
    
}

