/* estilos del main */
.mainIndex{
    background-color: $color-fondo-main;
    .seccionTitulo{
        width: $t-100por;
        height: $t-500px;
        background: linear-gradient(#29292abd, #29292abd),url(../assets/img/bg-titulo.jpg);
        .tituloH1Index{
            color: $color-blanco;
            padding-top: $t-220px;
            padding-left: $t-50px;
        }
        .btn-primary {
            width: $t-120px;
            background-color: rgba(212, 12, 12, 0);
            color: $color-blanco;
            border: $t-1px solid $color-blanco;
            border-radius: $t-10px;
            font-size: $t-16px;
            text-align: center;
            padding: $t-10px;
            margin-left: $t-50px;
            &:hover {
                color: $color-gris-clarito;
                background-color: rgba(212, 12, 12, 0);
                border-color: $color-blanco;
            }
        }
        .parrafoSeccionTitulo{
            color: $color-gris-clarito;
            font-size: $t-un-dos-rem;
            margin-top: $t-100px;
            margin-right: $t-20px;
            text-align: end;
        }
    }
    .titulosH2{
        margin-top: $t-70px;
        color: $color-fuente-comun;
        text-align: center;
        .lineaTitulos{
            color: $color-azul-vara-propiedades;
            width: $t-120px;
            border: $t-2px solid;
            border-radius: $t-12px;
            margin: $t-10px auto $t-50px auto;
            text-align: center;
        }
    }
    .seccionLlamadoALaAccion{
        padding-left: $t-40px;
        .card{
            box-shadow: $t-4px $t-4px $t-10px rgba(0, 0, 0, 0.6)
        }
        .card-title{
            text-align: center;
            color: $color-fuente-comun;
        }
    }
    .container{
        .tituloh3Index{
            color: $color-fuente-comun;
            padding-bottom: $t-10px;
        }
        .negrita{
            font-weight: bold;
            color: $color-azul-vara-propiedades;
        }
        .quienesSomos{
            padding-bottom: $t-40px;
        }
        .nuestroServicio{
            padding-bottom: $t-40px;
        }
    }
}