/* estilos del header */
.navbar{
    font-size: $t-un-dos-rem;
    width: $t-100por;
    padding-top: $t-0px;
    padding-bottom: $t-0px;
    .container-fluid{
    padding: $t-0px;
    background-color: $color-fondo-link-nav;
        .collapse.navbar-collapse{
            justify-content: end;
            padding-right:$t-10px;
        }
    }
}

/* estilos para todos los links */
a{
    text-decoration: none;
}
// estilos de todos los h1
.seccionTituloh1{
    width: $t-100por;
    height: $t-250px;
    background: linear-gradient(#29292abd, #28282972),url(../assets/img/tarjetas1.jpg);
    background-size: $t-100por;
    background-attachment:fixed;
    .tituloH1{
        color: $color-blanco;
        padding-top: $t-100px;
        padding-left: $t-50px;
    }
}

/* estilos footer */
.footer{
    background-color:$color-fondo-link-nav;
    padding-bottom: $t-30px;
    .infoFooter{
        .row{
            padding-top: $t-30px;
        }
        .tituloFooterIndex{
            font-size: $t-un-dos-rem;
            color:$color-nav-link-footer;
        }
        .tituloFooterIndexDistinto{
            font-size: $t-un-dos-rem;
            color: $color-nav-link-footer;
            margin-top: $t-30px;
        }
        .nav-link{
            width: $t-20por;
            height: $t-25px;
           color: $color-nav-link-footer; 
           padding: $t-0px;
           &:hover{
            color: $color-hover-nav-link-footer;
           }
        }
        .divFooter{
            .imgFooter{
            width: $t-25px;
            margin-right: $t-5px;
            }
            .parrafoFooter{
                color: $color-nav-link-footer;
            }
        }
        
        .divRedes{
            .imgRedesIg{
                width: $t-27px;
                margin-right: $t-4px;
            }
            .imgRedesArgen{
                width: $t-34px;
                margin-right: $t-4px;
            }
            .imgRedesTiktok{
                width: $t-27px;
                border-radius: $t-4px;
            }
        }
    }
}