// colores 
$color-fondo-main: #ebf0f7;
$color-fondo-link-nav: #e6e6e6ea;
$color-fuente-comun: #1e1e1e;
$color-nav-link-footer: #495057;
$color-hover-nav-link-footer:#79828c;
$color-blanco:#ffffff;
$color-gris-clarito: #d0c8c8;
$color-gris-vara-propiedades: #61646F;
$color-gris-difuminado-vara-propiedades: #61646f61;
$color-gris-difuminadoclarito-vara-propiedades:#61646f10;
$color-azul-vara-propiedades:#154B89;



// tamaños en px
$t-0px:0px;
$t-1px:1px;
$t-2px:2px;
$t-4px:4px;
$t-5px:5px;
$t-8px:8px;
$t-10px: 10px;
$t-12px:12px;
$t-16px:16px;
$t-20px:20px;
$t-22px:22px;
$t-25px:25px;
$t-27px:27px;
$t-30px:30px;
$t-34px:34px;
$t-35px:35px;
$t-40px:40px;
$t-45px:45px;
$t-50px:50px;
$t-60px:60px;
$t-70px:70px;
$t-100px:100px;
$t-120px:120px;
$t-220px: 220px;
$t-250px:250px;
$t-300px:300px;
$t-340px: 340px;
$t-400px:400px;
$t-500px:500px;
$t-600px:600px;
$t-800px:800px;
$t-1150px:1150px;


// tamanios en %
$t-20por:20%;
$t-100por:100%;


// tamanios fuente
$t-un-rem:1rem;
$t-un-dos-rem:1.2rem;
$t-bold: bold;

