// colores 
$color-fondo-main: #ebf0f7;
$color-fondo-link-nav: #e6e6e6ea;
$color-fuente-comun: hsl(0, 0%, 12%);
$color-nav-link-footer: #495057;
$color-hover-nav-link-footer:#79828c;
$color-blanco:#ffffff;
$color-gris-clarito: #d0c8c8;
$color-gris-vara-propiedades: #61646F;
$color-azul-vara-propiedades:#154B89;


// tamaños en px
$t-0px:0px;